# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
downloads/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/

# FCIB
src/artifacts_keyring/plugins/

# Pytest
.pytest_cache/
